@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #85E8EA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--foreground);

  --text-xs: clamp(0.75rem, 0.1vw + 0.72rem, 0.8rem);
  --text-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --text-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --text-lg: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --text-xl: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --text-2xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --text-3xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --text-4xl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  --text-hero: clamp(4rem, 10vw + 1rem, 12rem);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-serif);
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background-color: var(--foreground);
    color: var(--background);
  }

  html, body {
    scrollbar-width: none; 
  }

  ::-webkit-scrollbar {
    display: none;
  }
}